.about-contact {
  border-style: solid;
  border-width: 3px;
  border-color: black;
  margin-bottom: 200px;
  margin-top: 100px;
  width: 80%;
  padding: 10%;
  background-color: white;
  margin-right: auto;
  margin-left: auto; }

.about-contact-header {
  font-weight: bold;
  color: black; }

.delete {
  display: none; }

#demo {
  padding: 204px;
  padding-top: 60px;
  font-family: Roboto;
  background-color: #94d1e0; }

.general-text {
  font-size: 24px;
  color: black; }

table {
  border-style: solid;
  border-width: 3px;
  border-color: black; }

#top-row {
  background-color: #f1f1f1; }

.table-listing {
  font-size: 34px;
  padding-bottom: 60px;
  color: black; }

#grocery-table-head {
  font-size: 44px;
  color: black; }

.table-row1 {
  background-color: #7c89b1;
  padding: 204px;
  height: 120px; }

.table-row2 {
  background-color: #f1f1f1;
  padding: 204px;
  height: 120px; }

.svg-pic {
  height: 70px; }

footer {
  padding-top: 150px;
  padding-bottom: 45px;
  width: 100%;
  background-color: rgba(112, 107, 107, 0.144); }
